[submodule "vendor/certify"]
	path = vendor/certify
	url = https://github.com/djarek/certify.git
[submodule "vendor/ctti"]
	path = vendor/ctti
	url = https://github.com/Manu343726/ctti.git
[submodule "vendor/ozo"]
	path = vendor/ozo
	url = https://github.com/yandex/ozo.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/scnlib"]
	path = vendor/scnlib
	url = https://github.com/eliaskosunen/scnlib.git
[submodule "vendor/tabulate"]
	path = vendor/tabulate
	url = https://github.com/p-ranav/tabulate.git
[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2
[submodule "vendor/ChaiScript"]
	path = vendor/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
